*.pyc
*~
.ipynb_checkpoints
examples/*/*.ipynb
g.png

########################
# Python Lex Yacc files
########################
concept_space_parsetab.py
ivy_formulatab.py
ivy_parsetab.py
ivy_termtab.py
ivy_dafny_parsetab.py

########################
# LATEX temp files
########################
*.aux
*.log
*.nav
*.out
*.snm
*.toc
